@import "../../vars.css";

.container {
  composes: section from global;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  align-items: stretch;
}

@media screen and (max-width: 760px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
