@import "../../vars.css";

.footer {
  border-top: 1px solid #171717; /* Equivalent to border-neutral-900 */
  margin-top: 1.75rem; /* Equivalent to mt-7 */
}

.container {
  width: 100%;
  max-width: 1280px; /* Equivalent to max-w-screen-xl */
  margin: 0 auto; /* Centering with mx-auto */
  padding: 1rem; /* Equivalent to p-4 */
  padding-top: 2rem; /* Equivalent to md:py-8 */
  margin-bottom: 40px;
}

.text {
  display: block;
  margin-top: 1.5rem; /* Equivalent to mt-6 */
  margin-bottom: 0.25rem; /* Equivalent to mb-1 */
  text-align: center;
  font-size: 1rem; /* Equivalent to text-sm */
  color: #6b7280; /* Equivalent to text-gray-500 */
}

.text.dark {
  color: #9ca3af; /* Equivalent to dark:text-gray-400 */
}
