/* Experience.module.css */
.container {
  color: var(--color-text);
  margin-top: 80px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 40px; /* Increased padding to make the container bigger */
  min-height: 600px; /* Ensures the container has a larger height */
}

.title {
  color: var(--color-text);
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* Ensures the content flexbox is large enough to contain both sections */
.content {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Increased gap to separate sections further */
  min-height: 550px; /* Ensures content area is larger */
}

.history, .skills {
  width: 100%; /* Full width for both sections */
}

/* Make sure the list style is removed from the history items */
.noListStyle {
  padding-left: 0;
  margin-left: 0;
}

/* Adjust history items to have a bit more space between them */
.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px; /* Increased gap between items */
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 30px; /* Added bottom margin to create space between history items */
}

/* Adjust skills section style */
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* Makes the skills section more evenly spaced */
  gap: 40px; /* Increased gap for spacing between skills */
}

/* Ensure skill box size is appropriate */
.skillImageContainer {
  background-color:  #1c3461;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px; /* Increased width */
  height: 140px; /* Increased height */
}

.skillImageContainer img {
  width: 90px; /* Adjusted the image size */
}

.skill p {
  font-size: 20px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center; /* Centers text */
  width: 100%; /* Ensures it takes full width */
}
